body{
    min-height: 600px;
    background-color: #000;
    color: #fff;
}
h1,h2,h3,h4,h5,h6,p,li{
    color: #fff;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: #fff;
}
footer{
    text-align: center;
    color: #ccc;
    border-top: 1px solid #fff;
    padding: 10px;
    margin-top: 300px;
}
#button-1-div, #button-2-div, #button-3-div{
    float: left;
    width: 10%;
    text-align: center;
}
button{
    padding: 8px 20px;
    background-color: green;
    color: #fff;
    border-radius: 5px;
    border: none;
}
h2{
    font-size: 18px;
}
.player-selection{
    max-width: 300px;
}
.player-div{
    margin-bottom: 20px;
}
.selection-image-div{
    max-width: 280px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.selection-image{
    max-width: 100%;
}
.images-div img{
    width: 40px;
    margin-right: 2px;
}
.images-div{
    margin-left: 5px;
}
.gif-search{
    max-width: 430px;
}
.selected-image-container{
    padding: 20px;
}
.selected-image-container img{
    width: 100%;
}
.PersonBox{
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 10px;
}
.tweetbox{
    margin-bottom: 10px;
}
.tweet-support{
    /* text-align: right; */
    font-size: 10px;
}
.small-button{
    padding: 2px 15px;
}
.tweet-support img{
    width: 50px;
    border-radius: 50px;
}
